body {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  background-color: black !important;
}

html {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Hack', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 0 0 2.25rem;
  text-transform: uppercase;
}

p {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: 0 0 1.5rem;
}

@media (min-width: 768px) {
  p {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin: 0 0 2.25rem;
  }
}

a {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #34C4C8;
}

a:focus, a:hover {
  text-decoration: underline;
  color: #1f7577;
}

#mainNav {
  font-family: 'Hack', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: black;
}

#mainNav .navbar-toggler {
  font-size: 1rem;
  padding: 0.75rem;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav a:focus, #mainNav a:hover {
  text-decoration: underline;
  color: #bfbfbf;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    -webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    -moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: black;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: rgba(255, 255, 255, 0.3);
  }
  #mainNav .nav-link.active:hover, #mainNav .nav-link.active:focus {
    color: white;
  }
}

.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 12.5rem 0;
  text-align: center;
  color: white;
  background: url("../img/intro-bg-@4x.jpeg") no-repeat bottom center scroll;
  background-image: -webkit-image-set("../img/intro-bg-@1x.jpeg" 1x, "../img/intro-bg-@2x.jpeg" 2x, "../img/intro-bg-@3x.jpeg" 3x, "../img/intro-bg-@4x.jpeg" 4x);
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 3.125rem;
}

.masthead .intro-body .intro-text {
  font-size: 1rem;
}

@media (min-width: 768px) {
  .masthead {
    height: 100%;
    padding: 0;
  }
  .masthead .intro-body .brand-heading {
    font-size: 6.25rem;
  }
  .masthead .intro-body .intro-text {
    font-size: 1.75rem;
  }
}

.btn-circle {
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  margin-top: 1rem;
  line-height: 3rem;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 2px solid white;
  border-radius: 100% !important;
  background: transparent;
}

.btn-circle:focus, .btn-circle:hover {
  color: white;
  outline: none;
  background: rgba(255, 255, 255, 0.1);
}

section {
  background-color: black;
}

.content-section {
  padding-top: 9.375rem;
  padding-bottom: 9.375rem;
}

.about-section {
  padding-top: 3.125rem;
  padding-bottom: 6.25rem;
}

.download-section {
  color: white;
  background: url("../img/another-bg-darkest-contrast-@4x.jpeg") no-repeat center center scroll;
  background-image: image-set("../img/another-bg-darkest-contrast-@1x.jpeg" 1x, "../img/another-bg-darkest-contrast-@2x.jpeg" 2x, "../img/another-bg-darkest-contrast-@3x.jpeg" 3x, "../img/another-bg-darkest-contrast-@4x.jpeg" 4x);
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 4.75rem;
  padding-bottom: 9.375rem;
}

.download-section h3:last-of-type {
  margin-top: 2.25rem;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 12.5rem;
    padding-bottom: 12.5rem;
  }
  #map {
    height: 21.875rem;
  }
}

.btn {
  font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: #34C4C8;
  border: 0.25rem solid #34C4C8;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 0.25rem solid #34C4C8;
  outline: none;
  background-color: #34C4C8;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 1rem;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 2.5rem;
    padding: 0;
  }
}

.list-inline-item {
  margin-right: .5rem;
}

.list-inline-item a {
  min-width: 9.375rem;
  min-width: 50%;
}

footer {
  padding: 3.125rem 0;
}

footer p {
  font-size: 1.25rem;
  margin: 0;
}

::-moz-selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

i[class*="icon-"] {
  margin-right: 0.25rem;
}

i[class="icon-arrow-down"] {
  margin: 0;
}
